<!DOCTYPE html>
<html>
<head>
  <meta name="apple-mobile-web-app-title" content="blog" />
  <META HTTP-EQUIV="pragma" CONTENT="no-cache" /> 
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta http-equiv="Content-Type" content="application/xhtml+xml;charset=utf-8" />
  <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate"> 
  <META HTTP-EQUIV="expires" CONTENT="0">
  <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <title>{{ page.title }}</title>
</head>
<body>
  {{ content }}
</body>
</html>